<h2>Thêm sản phẩm</h2>
<form action="">
  <div class="mb-3">
    <label for="">Name</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="product.name"
      name="name"
    />
  </div>
  <div class="mb-3">
    <label for="">Price</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="product.price"
      name="price"
    />
  </div>
  <div class="mb-3">
    <label for="">Image</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="product.img"
      name="img"
    />
  </div>
  <button class="btn btn-primary" (click)="onAddProduct()">Add</button>
</form>
